.container{
    max-width:900px ;
    border: 30px solid rgb(117, 235, 117);
}

.row{
    display: flex;
    flex-wrap: wrap;
    height: calc(100 / 3);
}

.col-3{
    width: calc(100% / 3);
    gap: 0;
}

.img{
    position: relative;
    max-width: 100%;
    vertical-align: bottom;
    filter:grayscale() ;
}

.img::after{
    content: '';
    position: absolute;
    display: block;
    background-color: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img:hover{
    filter: none ;
    transition:  right, 2s;
}