section{
    max-width: 300px;
    background-color: whitesmoke;
    padding: 40px;
}
.box{
    background-color: silver;
    width:100px ;
    height: 100px;
    border: 1px solid black;
    margin: auto;
    border-radius: 50px;
}
.switch{
    width: 50px;
}