.card{
    background-color: rgb(63, 209, 160);
    color: white;
    padding: 10px 0;
    margin: 20px 0;
    font-weight: 800;
    height: 40px;
}
.header{
    background-color: black;
    height: 20px;
    width: 500px;
}


.sidebar{
    background-color: black;
    width: 100px;
    height: 400px;
    filter: opacity(30%);
}

p{
    display: none;
}

p:hover{
    display: block;
    color:black;
}

.sidebar:hover{
    width: 400px;
    transition:  2s;
    filter: none;
    text-align: center;
    display: block;
}


.card:hover{
    background-color: white;
    color: black;
    display: block;
    cursor: pointer;
}

.icon{
    margin-top: 0;
    background-color: black;
    height: 50px;
    color: white;
    text-align: end;
    font-weight: 900;
    font-size: 60px;
    padding: 0 10px;
}


